<div class="bg-light py-3 py-md-3">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <h2 class="text-uppercase">Log in</h2>
              </div>
            </div>
          </div>

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <div class="col-12">
                <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                <input type="email"
                       class="form-control" name="email" id="email"
                       formControlName="email"
                       [ngClass]="{'is-invalid': email?.invalid
                       && (email?.touched || submitted),
                       'is-valid': email?.valid && (email?.touched || submitted)}"
                       placeholder="name@example.com" required>

                <!-- validation email -->
                <div class="invalid-feedback">
                  <div *ngIf="email?.errors?.['required']">Please enter the email.</div>
                  <div *ngIf="email?.errors?.['pattern']">Invalid email format.</div>
                </div>

              </div>


              <div class="col-12">
                <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control"
                       name="password" id="password" value=""
                       [ngClass]="{'is-invalid': password?.invalid &&
                       (password?.touched || submitted),
                       'is-valid': password?.valid && (password?.touched || submitted)}"
                       formControlName="password"
                       required>

                <div class="invalid-feedback">
                  <div *ngIf="password?.errors?.['required']">Please enter the password.</div>
                </div>
              </div>


              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-lg btn-primary"
                          [disabled]="isLoading || loginForm.invalid"
                          type="submit">Log in</button>
                </div>

              </div>
            </div>
            <div class="text-danger mt-1">
              {{ errorMessage }}
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</div>
